body
{
background-color: burlywood;
}
.titulo { color: brown;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
.torre{  display: block;
            margin: auto;
            width: 450px;
            border: 5px solid rgb(0, 0, 0);

}
table{
margin: auto;

}
.subtitulo{
    color:green;
    
    }
    h2.subtitulo{
        border-style: dotted;
        color: aquamarine;
        border-width: 3px;


    }