body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(IMG/FONDOskate.jpg);
    
}

.portada {
position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden;
    
}

video {
   position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

nav {
    background-color: #222;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ff5252;
}

.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 20px;
    background-color: #111;
    justify-content: center;
    
}

.carrusel img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center;
    flex-shrink: 0;
}

.noticias {
    padding: 30px;
    background: #ffffffe5;
}

.noticias h2 {
    text-align: center;
    margin-bottom: 20px;
    
    
}

.noticia {
    margin-bottom: 20px;
    border-left: 5px solid #ff5252;
    padding-left: 15px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.redes a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.redes a:hover {
    color: #ff5252;
}


.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(255, 4, 4);
}
.NyjahHuston{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid red;
}
.skateparkenMedellín {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid red;

}

  
  #carouselExample {
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .estilotextocarrusel {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
    background-color: #ff5252;
    
  }
  