body{

   background-image: url(IMG/principal.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   margin: auto;
 
}
.salauno{background-image: url(IMG/sala1.jpg);

}
.salados {
   background-image: url(IMG/sala2.png);
    
}

.salatres {
    background-image: url(IMG/sala3.png);
}
.PUERTAMUERTE{
    background-image: url(IMG/PUERTAMUERTE.png);
}
.salida{
    color: rgb(29, 29, 29);
    margin-left: 600px;
}
.fin {
    background-image: url(IMG/FIN.png);
}

.botonindex{
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   margin-left: 700px;
   margin-top: 200px;
   font-size: xx-large;
   
   
}
.botonsalauno {
    display: inline-block;
   background-color: rgb(0, 0, 0);
   color: rgb(0, 0, 0);
   margin-top: 95px;
   margin-left: 1200px;
   
      
}
.botonsalados{  display: inline-block;
   background-color: rgb(255, 0, 0);
   color: rgb(255, 255, 255);
   margin-top: 100px;
   margin-left: 500px;

}
.pulse {
      display: inline-block;
   background-color: rgb(255, 1, 1);
   color: rgb(252, 250, 250);
  margin-right: 500px;
   
   

}
.pista1{
    margin-top: 200px;
   color: rgb(255, 255, 255);
   background-color: rgb(0, 17, 255);
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
   
}
.arbutus-regular {
  font-family: "Arbutus", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(255, 4, 4);
 -webkit-text-stroke: 2px black;
 margin-top: 100px;

}
.volumen{
    margin-top: 50px;
    color: rgb(106, 255, 0);
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.pulse {
    float: right;
    color: aliceblue;
}

video{
    margin: auto;
    margin-left: 120px;
}
.botones {
  display: inline-block;
  padding: 10px 15px;
  background-color: #222; 
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  float: right;
  margin: 4px;
  
}

