body{
    background-image: url(img/fondogym.jpg);
     background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   margin: auto;
}
.logo{
     width: 300px;
    height: auto;
    display: block;
    margin: 2px auto;
}
.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
  }
  .item {
    background-color: rgb(13, 129, 238);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
  }
  .item img{
    width: 100%;
    border-radius: 10px;
  }
  .item h3{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
p {
    color: white;
}
h1.titulo{
    color: white;
    margin: auto;
    text-align: center;
}

h2{
    color: white;
}
.fondodeparrafo{
     background-color: rgba(165, 42, 42, 0.377);
    padding: 15px;
    border-radius: 10px;
    
    
}
ul{
    color: white;
    float: left;
    
}
th , td {
  background-color: rgb(245, 75, 8);
  color: aliceblue;
}

.caja1{
    background-color: rgba(165, 42, 42, 0.377);
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    min-height: 100px;
}
form{
    color: white;
}
.cajaformu{
    background-color:rgba(165, 42, 42, 0.377);
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    
    
}
