body{
   background-image: url(IMG/FONDOropa.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   margin: auto;
 
}


.logo{
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

nav {
  background-color: #2c2ce9; 
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}


nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #00bcd4;
}

nav ul li a:hover::after {
  width: 100%;
}

th , td {
  background-color: blue;
  color: aliceblue;
}

ul{
  list-style: square;
  display: inline-block;
  text-align: left;
}
div.centrado {
  text-align: center;
}
table {
  margin: auto;

}
h2{
  text-align: center;
}
h1{
  text-align: center;
}
.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.item {
  background-color: rgb(13, 129, 238);
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
.item img{
  width: 100%;
  border-radius: 10px;
}
.formulario label {
  display: block;
  margin: 8px 0 4px;
  font-weight: bold;

}
.formulario input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc ;
  border-radius: 8px;
}
.cajatexintro{
  background-color: rgba(51, 200, 245, 0.562);
 padding: 15px;
 border-radius: 10px;
 margin-left: 10px;
 margin-right: 10px;
 
 
}