body{
   background-image: url(IMG/fondotour.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   margin: auto;
 
}


  

  nav {
    background-color: #2c2ce9; 
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
 
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }
  

  nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: #00bcd4;
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #00bcd4;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
.titulo {
    font-style: italic ;
    color: rgb(68, 0, 255);
    text-decoration: underline;
    text-align: center;
}
p {margin-left: 30px;
    font-size: 18px; 
  }
  

.logo{
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    float: left;
}

.logoc{
    position: fixed;
    bottom: 20px;
    width: 100px;
    height: auto;
    display: block;
    right: 20px;
    
}
.logod{
    position: fixed;
    bottom: 20px;
    width: 100px;
    height: auto;
    display: block;
    right: 20px;
    
}
.fondodeparrafo{
     background-color: rgba(5, 21, 245, 0.377);
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    clear: both;
    
    
}
form{
    color: white;
}
.cajaformu{
    background-color:rgba(88, 3, 245, 0.377);
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    margin-top: 100px;
    margin-left: 30px;
    
    
}
ul{
    color: white;
    float: left;
}
th , td {
  background-color: rgb(6, 52, 255);
  color: aliceblue;
}
.caja1{
    background-color: rgba(21, 5, 243, 0.377);
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
}
.lista{
    background-color: rgba(21, 5, 243, 0.377);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #333;
   width: fit-content;
   max-width: 300px;
    list-style-position: inside;
    margin-bottom: 20px;
    margin-left: 15px;
}
.contenedor{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.cajatexintro{
  background-color: #2c2ce9;
  padding: 15px;
  height: 500px;
  height: 500px;

}